<!DOCTYPE html>
<html>
  <head>
    <title>Vikram & Deepali | Marriage Invitation</title>
    <link rel="shortcut icon" href="/assets/ganesh.png" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link rel="stylesheet" href="assets/bootstrap.min.css">
  	<link rel="stylesheet" href="assets/styles.css">
  </head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136683827-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-136683827-1');
  </script>
  <body>
    <%= yield %>
  </body>
</html>
